*.tagged
*.untagged
*.xml
HW1/data/wnuteval.py
HW1/data/desktop.ini
HW1/.idea/HW1.iml
HW1 - WET.docx
HW1/HW 1 - wet (1).zip
HW1/data_oldData/wnuteval.py
HW1/data_oldData/desktop.ini
HW1/__pycache__/dataset.cpython-38.pyc
HW1/~$1 - WET.docx
HW1/gensim_model_50.pickle
HW1/gensim_model_100.pickle
