# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\לימודים אקדמיים\תואר שני\עיבוד שפה טבעית\תרגילי בית\wet\HW1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
